@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(50px, 0);
  }
  12.5% {
    transform: translate(50px, 0);
  }
  15.5% {
    transform: translate(100px, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  27% {
    transform: translate(100px, 50px);
  }
  37.5% {
    transform: translate(100px, 50px);
  }
  39.5% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(50px, 50px);
  }
  52% {
    transform: translate(50px, 100px);
  }
  62.5% {
    transform: translate(50px, 100px);
  }
  64.5% {
    transform: translate(0, 100px);
  }
  75% {
    transform: translate(0, 100px);
  }
  77% {
    transform: translate(0, 50px);
  }
  87.5% {
    transform: translate(0, 50px);
  }
  89.5% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
svg#loading {
  display: block;
  margin: auto;
  width: 10rem;
  height: auto;
}
svg#loading .rect {
  animation: slide 10s ease infinite;
}
svg#loading #rect1 {
  animation-delay: 0s;
}
svg#loading #rect2 {
  animation-delay: -1.42857143s;
}
svg#loading #rect3 {
  animation-delay: -2.85714286s;
}
svg#loading #rect4 {
  animation-delay: -4.28571429s;
}
svg#loading #rect5 {
  animation-delay: -5.71428571s;
}
svg#loading #rect6 {
  animation-delay: -7.14285714s;
}
svg#loading #rect7 {
  animation-delay: -8.57142857s;
}
