.login-body {
    min-height: 35vh;
    border-radius: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    animation: popup 0.7s;
  }
  
  @keyframes popup {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(1);
    }
  }
  