.slide-left {
    animation: slide_left 0.7s;
}

@keyframes slide_left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}
.form-preferences{
    width: 450px;
    margin:auto;
}
.fix-table{
    margin: auto;
    width: 450px;
  
}